<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">
    <target name="logconsole" xsi:type="ColoredConsole" layout="${longdate} [${level}]${logger}: ${message}${exception:format=ToString}"/>
    <target type="File" name="logfile" fileName="${basedir}/data/logs/0/${shortdate}.log" 
            layout="${longdate} [${level}]${logger}: ${message}${exception:format=ToString}" archiveAboveSize="10240"/>
  </targets>

  <rules>
    <logger name="System.*" maxlevel="Info" final="true" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>